html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* .Layout {
  padding-top: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

header {
  margin-top: -50px;
}

#content {
  /* min-height:100%;  */
  min-height: 95vh;
}
#content > div {
  min-height: inherit;
}
#content > div > div {
  padding-top: 5px;
}

/* for Overview Page  */
#content > div.OverviewPage > div.col-md-3 > div.card {
    height: 30vh;
  }
  
  #content > div.OverviewPage > div.col-md-9 > div.card {
    height: 14vh;
  }
  
  #content > div.OverviewPage > div.col-md-9 > div:not(card) > div.Map {
    height: 75vh;
  }
  

/* for market bidding page */
#content > div.Market-bidding-page > div.col-lg-9 > div.lineChart {
  height: 27vh;
}
#content > div.Market-bidding-page > div.col-lg-9 > div.options {
  height: 10vh;
}
@media only screen and (max-width: 992px) {
  #content > div.Market-bidding-page > div.col-lg-9 > div.options {
    height: 31vh;
  }
}
#content > div.Market-bidding-page > div.col-lg-9 > div.table {
  height: 55vh;
}
#content > div.Market-bidding-page > div.col-lg-3 > div.gaugeChart {
}
#content
  > div.Market-bidding-page
  > div.col-lg-3
  > div.FuturePlannedCapacities {
}

#search-field {
  border: 1px solid #203a43;
  height: 35px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin: 10px;
  width: 200px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
}

#page-menu {
  border: 1px solid #203a43;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 2px;
}
.container td,
.container th {
  border: 1px solid #203a43 !important;
}
.grid-container {
  display: grid;
  grid-template-columns: 90px 300px 300px 200px 100px;
  grid-column: 20px;
  background-color: #f1f0f0;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
.container table {
  border-collapse: collapse;
  margin-top: 10px;
}
